@import "tailwindcss";
@import url('https://fonts.cdnfonts.com/css/futura-condensed-pt');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@theme{
  --font-Inter:"Inter" , "sans-serif";
  --font-futura:"futura condensed" , "sans-serif";
  /* colors */
  --color-white:#fff;
  --color-textB:#717680;
  --color-textD:#4B4F60;
  --color-body:#efefef;
  --color-blue:#13237a;
  --color-sky:#4faabe;
  --color-blue-900:#080f33;
  --color-purple:#C8D0FA;
  --color-white-50:#ffffff50;
  --color-black-20:#00000050;
  --color-lightSky:#EDF7F9;
  --color-darksky:#C8E5EB;
  --color-green:#17B26A;

  /* radius */
  --radius-full:50px;
  
}